body, html {
    margin:0; padding:0;
    width:100%; height:100%;
}

* {
    box-sizing: border-box;
}

player {
    position: absolute;
    width: 50px;
    height: 150px;
    background-color: brown;
}

carBlue{
    position: absolute;
    width: 150px;
    height: 300px;
    background-image: url("../images/blue-car-top-view-md.png")
}

carRed{
    position: absolute;
    width: 150px;
    height: 300px;
    background-image: url("../images/red-car-top-view-md.png")
}

carYellow{
    position: absolute;
    width: 150px;
    height: 300px;
    background-image: url("../images/yellow-car-top-view-md.png")
}